@mixin section-width-height-100{
    width: 100%;
    height: 100vh;
}

@mixin contenido-width80-padding-align{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto; 
}

:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #273C7B;
    --background-tertiary-color: #0E72C9;
    --title-color: #0EA1D5;
    --paragraph-color: #2B2B2B;
    --button-blocked-color: #525151;
    --button-canceled-color: #D00042;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../assets/fonts/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--background-primary-color);
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: 'Work Sans' !important;
    font-size: 67px;
    color: var(--background-secondary-color) !important;
    margin: 0;
    line-height: 110%;
    font-weight: bold !important;
}

h2 {
    font-family: 'Work Sans' !important;
    font-size: 51px;
    color: var(--title-color); 
    margin: 0;
    margin-bottom: 30px;
    line-height: 110%;

}

h3 {
    font-family: 'Work Sans';
    font-size: 38px;
    color: var(--title-color); 
    margin: 0;
    margin-bottom: 30px;
    line-height: 120%;
}

h4 {
    font-family: 'Work Sans';
    font-size: 28px;
    color: var(--title-color); 
    margin: 0;
    margin-bottom: 30px;
    line-height: 140%;
}

h5 {
    font-family: 'Work Sans';
    font-size: 22px;
    color: var(--title-color); 
    margin: 0;
    margin-bottom: 30px;
    line-height: 140%;
}

p, label {
    font-family: 'Work Sans';
    // font-size: 22px;
    color: var(--paragraph-color);
    line-height: 160%;
    text-wrap: wrap;
}

p {
    font-size: 18px;
}

.form-control {
    font-family: 'Work Sans';
    font-size: 16px !important;
    border-radius: 50px !important;
    border-color: 1px solid #00CEFF !important;
    background-color: rgb(220, 248, 255) !important;
    width: 100%;
}

a {
    text-decoration: none;
}

form {
    a {
        text-decoration: none;
    }
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: 50px;
    gap: 12px;
    padding-left: 19px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--title-color);
    color: var(--background-primary-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 16px;
    text-wrap: nowrap;
    border-color: transparent;
    .icon {
        width: 20px;
        height: 20px;
    }
    &:hover {
        background-color: var(--background-secondary-color);
    }
}

.red-btn {
    background-color: #D00042;
}

.buttonsContainer {
    display: flex;
    gap: 15px;
    a {
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .mainContainer {
        padding-top: 0;
    }
    p {
        font-size: 15px;
    }
    .contentLogo {
        flex-direction: column;
        padding-top: 20%;
        padding-bottom: 0px;
        gap: 20px;
    }
    .contentDescription>a>img {
        width: 35px;
        height: fit-content;
        /* margin-right: 10px; */
    }
    .contentDescription {
        align-items: flex-start;
        flex-direction: row;
        gap: 35px;
    }
    .contentDescription>a {
        font-size: 20px;
        
        gap: 10px;
    }
    .contentBody  {
        padding-left: 12%;
        padding-right: 12%;
    }

    .button {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 14px;
    }
    .contentLogo {
        flex-direction: column;
        padding-top: 24%;
    }
    .contentDescription>a>img {
        width: 25px;
        height: fit-content;
    }
    .contentDescription {
        align-items: flex-start;
        flex-direction: column;
        gap: 0px;
    }
    .contentDescription>a {
        font-size: 16px;
    }
    .contentBody  {
        padding-left: 8%;
        padding-right: 8%;
    }

    .button {
        margin-top: 20px;
    }
}

.hidden{
    display: none;
}