<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/icons/rinon.png">
    <title>Renal Spectra</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../static/js/script.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="{{ url_for('home_admin') }}" class='logoHeader'>
                    <img class='logo' alt="Renal Spectra Logo" src='../static/icons/rinon.png' />
                    <span>Renal Spectra</span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav my-lg-0 navbar-nav" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pacientes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('add_patient') }}">Añadir paciente</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('search_patient') }}">Buscar paciente</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="button red-btn" onClick="logOut()">
                    <img class="icon" src="../static/icons/User.png" alt="">
                    Cerrar Sesión
                </div>
                </a>
            </div>
        </div>
    </nav>
    <main>
        <section class="analytics-patient">
            <h1>Análisis:</h1>
            <div class="info-sup-container">
                <div class='infoPatientContainer'>
                    <form id="form-analytics-patient" class="row g-3">
                        <div class="col-md-12">
                            <label for="inputNameLastName" class="form-label">Paciente:</label>
                            <input type="text" readonly class="form-control-plaintext" id="floating-inputNameLastName" placeholder="...">
                        </div>
                        <div class="col-md-12">
                            <h4>Última lectura filtrado glomerular:</h4>
                        </div>
                        <div class="col-md-12">
                            <label for="inputEstadio" class="form-label">Estadio:</label>
                            <input type="text" readonly class="form-control-plaintext" id="floating-inputEstadio" placeholder="...">
                        </div>
                        <div class="col-md-12">
                            <label for="inputDescripcion" class="form-label">Descripción:</label>
                            <input type="text" readonly class="form-control-plaintext" id="floating-inputDescription" placeholder="...">
                        </div>
                        <div class="col-md-12">
                            <label for="inputFiltradoGlomerular" class="form-label">Valor:</label>
                            <input type="text" readonly class="form-control-plaintext" id="floating-inputFiltradoGlomerular" placeholder="...">
                        </div>
                        <div class="col-md-12">
                            <h4>Última lectura Creatinina:</h4>
                        </div>
                        <div class="col-md-12">
                            <label for="inputCreatinina" class="form-label">Valor:</label>
                            <input type="text" readonly class="form-control-plaintext" id="floating-inputCreatinina" placeholder="...">
                        </div>
                    </form>
                </div>
                <div class="container-rinon">
                    <div class="rinon">
                        <div class="top-element"></div>
                        <div class="bottom-element"></div>
                        <div class="center-element1"></div>
                        <div class="center-element2"></div>
                        <!-- <div class="barra"></div> -->
                        <h1 id="renal-function">...</h1>
                    </div>
                </div>
            </div>
            <canvas id="myLineChart" width="400" height="200"></canvas>
            <div class="buttonsContainer">
                <div class="button" id="refreshButton">
                    <img class="icon" src="../static/icons/ArrowRight.png" alt="">
                    Actualizar Análisis
                </div>
                <!-- <a href="./analytics.html"> -->
                    <div class="button">
                        <img class="icon" src="../static/icons/TrendUp.png" alt="">
                        Generar Reporte
                    </div>
                <!-- </a> -->
            </div>
        </section>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const patientData = JSON.parse(localStorage.getItem('patientData'));

            if (patientData && patientData.ci) {
                fetchMetrics(patientData.ci);
            } else {
                alert('No se encontró la información del paciente.');
            }

            if (patientData) {
                document.getElementById('floating-inputNameLastName').value = patientData.name + ' ' + patientData.lastname;
                

                // Elimina los datos del localStorage si ya no son necesarios
                // localStorage.removeItem('patientData');
            }
        });
        document.getElementById('refreshButton').addEventListener('click', function() {
            location.reload(); // Esto recarga la página
        });


        // Función que se ejecuta al cargar la página
        async function fetchMetrics(ci) {
            try {
                const response = await fetch(`/metrics/${ci}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({ type: 'actualizar' })
                });

                if (response.ok) {
                    const metrics = await response.json();
                    console.log('Métricas recibidas:', metrics);
                    
                    const latest = metrics.latest_metric;
                    let ifg = latest.ifg;
                    let creat = latest.creatine;
                    document.getElementById('floating-inputFiltradoGlomerular').value = `${latest.ifg}`;
                    document.getElementById('floating-inputCreatinina').value = `${latest.creatine}`;
                    
                    if (ifg >= 90) {
                        document.getElementById('floating-inputEstadio').value = '1';
                        document.getElementById('floating-inputDescription').value = "Posible daño renal (p. ej., proteína en la orina) con función renal normal";
                        document.getElementById('renal-function').innerHTML = '90 - 100 %';                        document.getElementsByClassName('rinon')[0].style.backgroundColor = '#009583';
                        document.getElementsByClassName('top-element')[0].style.backgroundColor = '#009583';
                        document.getElementsByClassName('bottom-element')[0].style.backgroundColor = '#009583';
                        document.getElementsByClassName('center-element1')[0].style.backgroundColor = '#009583';
                    } else {
                        if (ifg >= 60) {
                            document.getElementById('floating-inputEstadio').value = '2';
                            document.getElementById('floating-inputDescription').value = "Daño renal con disminución leve de la función renal";
                            document.getElementById('renal-function').innerHTML = '60 - 89 %'
                            document.getElementsByClassName('rinon')[0].style.backgroundColor = '#CADB2A';
                            document.getElementsByClassName('top-element')[0].style.backgroundColor = '#CADB2A';
                            document.getElementsByClassName('bottom-element')[0].style.backgroundColor = '#CADB2A';
                            document.getElementsByClassName('center-element1')[0].style.backgroundColor = '#CADB2A';
                        } else {
                            if (ifg >= 45) {
                                document.getElementById('floating-inputEstadio').value = '3a';
                                document.getElementById('floating-inputDescription').value = "Disminución de leve a moderada de la función renal";
                                document.getElementById('renal-function').innerHTML = '45 - 59 %'
                                document.getElementsByClassName('rinon')[0].style.backgroundColor = '#FAA63B';
                                document.getElementsByClassName('top-element')[0].style.backgroundColor = '#FAA63B';
                                document.getElementsByClassName('bottom-element')[0].style.backgroundColor = '#FAA63B';
                                document.getElementsByClassName('center-element1')[0].style.backgroundColor = '#FAA63B';
                            } else {
                                if (ifg >= 30) {
                                    document.getElementById('floating-inputEstadio').value = '3b';
                                    document.getElementById('floating-inputDescription').value = "Disminución de moderada a grave de la función renal";
                                    document.getElementById('renal-function').innerHTML = '30 - 44 %'
                                    document.getElementsByClassName('rinon')[0].style.backgroundColor = '#FAA63B';
                                    document.getElementsByClassName('top-element')[0].style.backgroundColor = '#FAA63B';
                                    document.getElementsByClassName('bottom-element')[0].style.backgroundColor = '#FAA63B';
                                    document.getElementsByClassName('center-element1')[0].style.backgroundColor = '#FAA63B';
                                } else {
                                    if (ifg >= 15) {
                                        document.getElementById('floating-inputEstadio').value = '4';
                                        document.getElementById('floating-inputDescription').value = "Disminución grave de la función renal";
                                        document.getElementById('renal-function').innerHTML = '15 - 29 %'
                                        document.getElementsByClassName('rinon')[0].style.backgroundColor = '#FAA63B';
                                        document.getElementsByClassName('top-element')[0].style.backgroundColor = '#FAA63B';
                                        document.getElementsByClassName('bottom-element')[0].style.backgroundColor = '#FAA63B';
                                        document.getElementsByClassName('center-element1')[0].style.backgroundColor = '#FAA63B';
                                    } else {
                                        document.getElementById('floating-inputEstadio').value = '5';
                                        document.getElementById('floating-inputDescription').value = "Insuficiencia renal";
                                        document.getElementById('renal-function').innerHTML = '< 15 %'
                                        document.getElementsByClassName('rinon')[0].style.backgroundColor = '#F25D21';
                                        document.getElementsByClassName('top-element')[0].style.backgroundColor = '#F25D21';
                                        document.getElementsByClassName('bottom-element')[0].style.backgroundColor = '#F25D21';
                                        document.getElementsByClassName('center-element1')[0].style.backgroundColor = '#F25D21';
                                    }
                                }
                            }
                        }
                    }
                    refreshChart(metrics.historical_metrics);
                } else {
                    const errorData = await response.json();
                    alert(`Error al obtener métricas: ${errorData.error}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Ocurrió un error al cargar las métricas. Inténtalo nuevamente más tarde.');
            }
        }

        function refreshChart(metrics) {
            // Preparamos las fechas, los valores de IFG y los valores de peso para los ejes X e Y
            const labels = metrics.map(metric => metric.date).reverse(); // Extraemos las fechas
            const ifgValues = metrics.map(metric => metric.ifg).reverse(); // Extraemos los valores de IFG
            const weightValues = metrics.map(metric => metric.weight).reverse(); // Extraemos los valores de peso
            
            // Obtenemos el contexto del canvas donde dibujaremos el gráfico
            const ctx = document.getElementById('myLineChart').getContext('2d');

            // Creamos el gráfico
            const myLineChart = new Chart(ctx, {
                type: 'line', // Tipo de gráfico (línea)
                data: {
                    labels: labels, // Fechas como etiquetas del eje X
                    datasets: [
                        {
                            label: 'IFG', // Título de la serie de datos (línea de IFG)
                            data: ifgValues, // Datos de los valores de IFG
                            borderColor: '#0E72C9', // Color de la línea de IFG
                            fill: false, // No llenar el área bajo la línea
                            tension: 0.1, // Curvatura de la línea
                            borderWidth: 2, // Ancho de la línea
                            yAxisID: 'y1' // Asociamos este dataset al eje Y primario
                        },
                        {
                            label: 'Peso (kg)', // Título de la serie de datos (barras de peso)
                            data: weightValues, // Datos de los valores de peso
                            backgroundColor: '#66c7eb', // Color de las barras
                            borderColor: '#0E72C9', // Color del borde de las barras
                            borderWidth: 1, // Ancho del borde de las barras
                            type: 'bar', // Tipo de gráfico (barras)
                            yAxisID: 'y2' // Asociamos este dataset al eje Y secundario
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Fecha' // Título del eje X
                            }
                        },
                        y1: {
                            title: {
                                display: true,
                                text: 'IFG' // Título del eje Y primario
                            },
                            beginAtZero: false // No es necesario comenzar desde cero en este caso
                        },
                        y2: {
                            title: {
                                display: true,
                                text: 'Peso' // Título del eje Y secundario
                            },
                            beginAtZero: false, // Dependiendo del rango de pesos, puedes ajustar esto
                            position: 'right' // Colocamos el eje Y secundario a la derecha
                        }
                    }
                }
            });
        }



        // Función para mostrar las métricas en el DOM
        function displayMetrics(metrics) {
            // Ejemplo de cómo podrías actualizar el contenido de tu HTML con los datos de las métricas
            document.getElementById('metricName').innerText = metrics.name; // Nombre del paciente
            document.getElementById('metricValue').innerText = metrics.someMetricField; // Otros datos relevantes
            // Agrega más campos según los datos que obtengas de la base de datos
        }

    </script>
</body>
</html>