#patient-search-patients {
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    padding: 0px 10%;
    .search-container {
        display: flex;
        flex-direction: column;
        .searchInputButton {
            display: flex;
            form {
                width: 80%;
            }
            a {
                text-decoration: none;
            }
        }
    }
}